/* Заголовки */
h1 {
    color: #16325B; /* Яркий синий для самого крупного заголовка */
}

h2 {
    color: #227B94; /* Немного светлее для заголовка второго уровня */
}

h3 {
    color: #78B7D0; /* Более пастельный синий для заголовка третьего уровня */
}

h4 {
    color: #0B2F9F; /* Ещё светлее для заголовков четвёртого уровня */
}

h5 {
    color: #6EACDA; /* Очень светлый синий для заголовков пятого уровня */
}

h6 {
    color: #55679C; /* Почти белый для самого маленького заголовка */
}

/* Выделение жирным шрифтом */
strong {
    color: #161D6F; /* Тёмно-синий для жирного текста */
}

/* Курсив */
em {
    color: #7FB3D5; /* Пастельно-синий для курсивного текста */
}
